body{
   background-color: antiquewhite;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
     padding: 2%;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.header{
  background-color: aliceblue;
  justify-content: space-around;
  display: flex;
  max-height: 200px;

}
  .logo{
    max-height:120px;
  }
  .header ul {
    list-style: none;
    display: flex;
  }
  .header ul li {
    color: rgb(173, 112, 32) ;
    font-size: 18px;
    margin: 5px 20px;
    font-weight: 400;
  }
  .userIcon{
    font-size:120px;color:lightblue;text-shadow:2px 2px 4px #000000
  }
  .ResturentCard{
    max-width: 200px;
    background-color: aliceblue;
    margin: 10px;
    border: 2px solid burlywood;
    padding: 5px;
  }
  .resurentsHolder{
    display: flex;
    flex-wrap: wrap;
  }
  .ResturentCard img{
    max-width: 100%;
  }
  .footer{
    text-align: center;
    background-color: rgb(163, 96, 9);
    padding: 10px;
    font-size: 16px;
    
  }

  /* Search CSS */
  #search-box{position:relative;margin:0 auto;border:1px solid burlywood;
    padding:5px;border-radius:4px; max-width: 75%;}
    #search-form{height:40px;background-color:#fff;overflow:hidden}
    #search-text{font-size:14px;color:#ddd;border-width:0;background:transparent;line-height:15px}
    #search-box input[type="text"]{width:90%;padding:10px 0 5px 1em;color:#333;outline:none}
    #search-button{position:absolute;top:5px;right:5px;height:40px;width:80px;color:#fff;text-align:center;border-width:0;background-color: rgb(173, 112, 32) ;cursor:pointer;
    text-transform:uppercase;border-radius:3px;outline:0}
    #search-button:hover{background:#333}  
