body{
   background-color: antiquewhite;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
     padding: 2%;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.header{
  background-color: aliceblue;
  justify-content: space-around;
  display: flex;
  max-height: 200px;

}
  .logo{
    max-height:120px;
  }
  .header ul {
    list-style: none;
    display: flex;
  }
  .header ul li {
    color: darkcyan;
    font-size: 18px;
    margin: 30px 2px;
    font-weight: 400;
  }
  .userIcon{
    font-size:120px;color:lightblue;text-shadow:2px 2px 4px #000000
  }
  .ResturentCard{
    max-width: 200px;
    background-color: aliceblue;
    margin: 10px;
    border: 2px solid burlywood;
    padding: 5px;
  }
  .resurentsHolder{
    display: flex;
    flex-wrap: wrap;
  }
  .ResturentCard img{
    max-width: 100%;
  }
  .footer{
    text-align: center;
    background-color: darkcyan;
    padding: 10px;
    font-size: 16px;
    
  }
